name: Build SEA
on:
  workflow_call:
    secrets:
      ON_PREM_REPO_PAT:
        required: true
jobs:
  # need to build the dist
  # pack everything needed into a folder
  # upload folder
  # invoke workflow to run build on arm64 runner
  # wait for workflow
  # download artifacts from workflow and extract
  # capture as artifacts for this repo
  build-single-executable-application:
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node And Cache
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: node/package-lock.json
      - name: Restore Modules
        working-directory: node
        run: npm ci
      - name: Build JS Bundle
        working-directory: node
        run: npm run build:cjs
      - name: Build artifact for SEA build process
        working-directory: node
        run: tools/buildSea.mjs
      - name: Upload artifact
        id: upload
        uses: actions/upload-artifact@v7
        with:
          name: sea-input
          path: node/sea-input-artifact
          if-no-files-found: 'error'
      # free github hosted runners do not include arm64 arch runners
      # invoke a workflow with access to self hosted runners that
      # can build for desired arm64 targets, currently only linux
      - uses: bryopsida/workflow-dispatch@main
        with:
          workflow: build-sea.yaml
          token: ${{ secrets.ON_PREM_REPO_PAT }}
          wait-for-completion: true
          repo: bryopsida/on-prem-flows
          ref: main
          workflow-logs: print
          inputs: '{"artifact-url": "${{ steps.upload.outputs.artifact-url }}", "token": "${{ secrets.ON_PREM_REPO_PAT }}", "config": "sea-input-artifact/sea-config.json"}'
